<div class='container-fluid margin-top-page'>

  <div class='row text-center'>
  <br>
    <%= image_tag 'fallen_coffee' %>
  </div >

  <div class='row text-center'>
  <br>
    <h3 class="module-subtitle">NICE TRY, BUT YOUR CART IS EMPTY...</h3>
  </div>

  <div class='row text-center'>
    <br>
    <%= link_to 'Back to Coffee shop', shop_path(@shop.id), style:'color:darkgrey' %>
  </div>
</div>
