 <div class="map_box">
    <h3 class="module-title"><%= shop.name %></h3>
    <p class='menu-detail'><%= shop.address %></p>
    <%= link_to "Details", shop_path(shop), class: "btn btn-custom-3" %>
 </div>
