 <div class="map_box">
    <h4 class="menu-subtitle"><%= shop.name %></h4>
    <p class='menu-detail'><%= shop.address %></p>
    <%= link_to "Details", shop_path(shop), class: "btn btn-custom-1 btn-sm" %>
 </div>
