
<div class='container margin-top-page'>
  <div class='row'>

    <div class="col-sm-6">
      <% @shops.each do |shop| %>
      <%= link_to shop_path(shop.id) do %>
      <div class="col-sm-6">
        <figure class="overlay">
          <%= cl_image_tag shop.photo %>
          <h4 class='menu-title'><%= shop.name %></h4>
        </figure>
      </div>
      <% end %>
      <% end %>
    </div>

    <div class="col-sm-6">
      <div class='map'>
        <%= render 'shop-show-map' %>
      </div>
    </div>
  </div>

</div>
