.position_relative {
  position: relative;
}

.bottom_left {
  position: absolute;
  top: 120px;
  left: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.bottom_right {
  position: absolute;
  top: 120px;
  right: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.delivery_bottom {
  position: absolute;
  bottom: 15px;
  left: 40px;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.child {
  position : relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  border: solid 1px lightgrey;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.selected_child {
  color: #5FB863;
}

.cart_item {
  margin-top: 20px;
  padding: 3px;
  border-bottom: 1px dotted
}

.cart_text {
  margin-top: 6px;
}

#take_away:hover {
  box-shadow: 0 0 0 rgba(0,0,0,0.25), 0 0 0 rgba(0,0,0,0.22);
  opacity: 0.6;
}

#delivery:hover {
  box-shadow: 0 0 0 rgba(0,0,0,0.25), 0 0 0 rgba(0,0,0,0.22);
  opacity: 0.6;
}

.deliver_select {
  border: solid 2px black;
}
