/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.flex-align-3{
width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-content:center;
  margin:auto 0;
    padding:0;
}

.flex-align-3-item{
  min-width:260px;
  width:25%;
  margin:20px;
}


.flex-align-3-height{
  height:100%;
}

.module{
  padding:80px;
}

.iconbox-icon{
  font-size:42px;
  margin-bottom: 15px;
}



.bouchon{
  height:390px;
  width:100%;
  object-fit:cover;
}
