@import "home";
@import "cart";
@import "layout";
@import "show_order";
@import "show_shop";


.menu-classic {
  margin-top: 20px;
  padding: 3px;
  border-bottom: 1px dotted
}

.menu-classic:hover {
  box-shadow: 0 1px 2px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);
  opacity: 0.6;
}

#img {
  border-radius: 4px
}

.scroll {
  overflow: scroll;
}

.order-index{
  .icon-body {
    position: relative;
  }

  .iconbox {
    position: relative;
    height: 380px

  }

  .iconbox-icon {
    position: relative;
    right: 155px;
    top: 47px;
  }

  .iconbox-text {
    position: relative;
    right: -199px;
    top: -110px;
  }

  .iconbox-button {
    position: relative;
    right: 0px;
    top: -40px;
  }

}
