.description {
  padding-top: 10px;
}

.order {
  margin-top: 0px;
}

.left {
  border-right: solid 1px lightgrey;
}

.direction{
  padding-bottom: 20px;
}

.total {
  border: solid 1px lightgrey;
  margin-top: 15px;
  padding-top: 10px;
}

.address {
  padding-left: 0px !important;
  margin-top: 10px;
}

.sous-total {
  margin-bottom: 10px
}
