<div class= 'col-md-6 position_relative iconbox' id='take_away' style='background: none'>
    <%= image_tag 'barista_test_cart.jpg' %>
    <span class='delivery_bottom'>Meet the barista</span>
</div>

<div class= 'col-md-6 position_relative iconbox' id='delivery' style='background: none'>
  <%= image_tag 'delivery_guy_test.jpg' %>
  <span class='delivery_bottom'>Meet the delivery guy</span>
</div>
