<div class= 'col-md-6 position_relative iconbox' id='take_away' style='background: none'>
    <%= cl_image_tag ("barista_test_cart_zbkngq") %>
    <span class='delivery_bottom'>TAKE AWAY</span>
</div>

<div class= 'col-md-6 position_relative iconbox' id='delivery' style='background: none'>
<%= cl_image_tag ("coffee-delivery4_k3qqyy_m4tqsk") %>

  <span class='delivery_bottom'>DELIVER</span>
</div>
