<h1>Orders#index</h1>

<% @orders.each do |order| %>
  <h3>User id : <%= order.user_id %></h3>
  <p>Order status : <%= order.status %></p>
  <p>Order delivery type : <%= order.delivery_type %></p>
  <% end %>
