.avatar-navbar-margin{
  margin-top:4px;
}

a.login-btn {
  border:0.4px solid white;
  padding:5px 15px !important;
  margin-top:8px;
  transition: all 0.6s ease;
  transition-property: background-color, border, color;
}

a.login-btn:hover {
  border:0.4px solid rgba(245,215,110,0.7);
  background-color:rgba(245,215,110,0.7) !important;
  color:white !important;
}

.icon-navbar{
  color:white;
  font-size:38px;
  margin:0px 30px;
  margin-top:4px;
  font-weight:100;
}
